{% extends layout %}

{% block content %}
<div class="box">
  <h3>{{ page.title }}</h3>
  <table class="table" id="table">
    <thead class="thead-dark">
    <tr>
      <td>Id</td>
      <td>Komponent</td>
      <td>Aktywny</td>
      <td class="position-sticky">
        <button class="render btn-sm" data-el="modal" data-url="pages/components/add/{{ page.id }}"> <i class="fa fa-plus"></i> </button>
        <a class="btn-sm is_button" target="_blank" href="{{ base('page/show/'~page.id~'/'~page.link) }}">Podlgąd</a>
      </td>
    </tr>
    </thead>
    <tbody>
    {% for component in components %}
      <tr>
        <td>{{ component.id }}</td>
        <td>{{ component.type|capitalize }}</td>
        <td>{{ component.is_active == 1 ? 'Tak' : 'Nie' }}</td>
        <td class="position-sticky">
          {% if component.type == 'table' %}
            <button class="render btn-sm" data-el="modal" data-url="pages/table/components/edit/{{ component.id }}"> <i class="fa fa-cog"></i> </button>
          {% endif %}

          {% if component.type == 'image' %}
            <a class="btn-sm" href="{{ url('images/draw/'~component.id) }}"> <i class="fa fa-paint-brush"></i> </a>
          {% endif %}
          &nbsp;
          {% if component.type != 'separator' %}
            <button class="render btn-sm" data-el="modal" data-url="pages/components/edit/{{ component.id }}">Edycja</button>
          {% endif %}
          &nbsp;
          <a class="is_button btn-sm" href="{{ url('pages/components/active/'~component.is_active~'/'~component.id~'/'~page.id) }}">
            {{ component.is_active == 1 ? 'Deaktywuj' : 'Aktywuj' }}
          </a>
        </td>
      </tr>
    {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}
