<aside class="wiki-box flex-column d-none d-xs-none d-sm-none d-md-none d-lg-flex d-xs-none d-xl-flex left__box">
  <span class="left__menu__closer">×</span>

  {% if menu.quest is not empty %}
    <a class="menu-item has__parent" href="#">
      <img src="{{ img('menu/quests.png') }}" alt="">
      Quests
    </a>
    <div class="is__parent">
      {% for quest in menu.quest %}
        <a href="{{ url(quest.link) }}">{{ quest.title }}</a>
      {% endfor %}
    </div>
  {% endif %}

  <a class="menu-item has__parent" href="#">
    <img src="{{ img('menu/weapons.png') }}" alt="">
    Weapons
  </a>
  <div class="is__parent">
    <a href="{{ url('items/swords') }}">Swords</a>
    <a href="{{ url('items/glovers') }}">Glovers</a>
    <a href="{{ url('items/balls') }}">Balls</a>
    <a href="{{ url('items/bands') }}">Bands</a>
  </div>

  <a class="menu-item has__parent" href="#">
    <img src="{{ img('menu/equipments.png') }}" alt="">
    Equipments
  </a>
  <div class="is__parent">
    <a href="{{ url('items/helmets') }}">Helmets</a>
    <a href="{{ url('items/armors') }}">Armors</a>
    <a href="{{ url('items/legs') }}">Legs</a>
    <a href="{{ url('items/boots') }}">Boots</a>
    <a href="{{ url('items/belts') }}">Belts</a>
    <a href="{{ url('items/robes') }}">Robes</a>
  </div>

  <a class="menu-item has__parent" href="#">
    <img src="{{ img('menu/professions.png') }}" alt="">
    Professions
  </a>
  <div class="is__parent">
    {% for vocation in vocations %}
      <a href="{{ url('vocations/show/'~vocation.name) }}">{{ vocation.name }}</a>
    {% endfor %}
  </div>

  <a class="menu-item" href="{{ url('monsters') }}">
    <img src="{{ img('menu/monsters.png') }}" alt="">
    Monsters
  </a>
  {% if menu.map is not empty %}
    <a class="menu-item" href="{{ url(menu.map.0.link) }}">
      <img src="{{ img('menu/maps.png') }}" alt="">
      Maps
    </a>
  {% endif %}
  <a class="menu-item" href="{{ url('npc') }}">
    <img src="{{ img('menu/npc.png') }}" alt="">
    Npc
  </a>
</aside>
