<aside class="wiki-box flex-column d-none d-xs-none d-sm-none d-md-none d-lg-flex d-xs-none d-xl-flex left__box">
  <span class="left__menu__closer">×</span>
  <a class="menu-item">
      <i class="fa fa-pencil"></i>
      Title
  </a>

  <a class="menu-item">
    <i class="fa fa-envelope"></i>
    Title Two
  </a>

  <a class="menu-item has__parent" href="#">
    <i class="fa fa-clone"></i>
    Weapons
  </a>
  <div class="is__parent">
    <a href="{{ url('items/swords') }}">Swords</a>
    <a href="{{ url('items/glovers') }}">Glovers</a>
    <a href="{{ url('items/balls') }}">Balls</a>
    <a href="{{ url('items/bands') }}">Bands</a>
  </div>

  <a class="menu-item has__parent" href="#">
    <i class="fa fa-italic"></i>
    Items
  </a>
  <div class="is__parent">
    <a href="{{ url('items/helmets') }}">Helmets</a>
    <a href="{{ url('items/armors') }}">Armors</a>
    <a href="{{ url('items/legs') }}">Legs</a>
    <a href="{{ url('items/boots') }}">Boots</a>
    <a href="{{ url('items/belts') }}">Belts</a>
    <a href="{{ url('items/robes') }}">Robes</a>
  </div>

  <a class="menu-item has__parent" href="#">
    <i class="fa fa-italic"></i>
    Proffesions
  </a>
  <div class="is__parent">
    {% for vocation in vocations %}
      <a href="{{ url('vocations/show/'~vocation.name) }}">{{ vocation.name }}</a>
    {% endfor %}
  </div>
</aside>
