<aside class="wiki-box flex-column d-none d-xs-none d-sm-none d-md-none d-lg-flex d-xs-none d-xl-flex left__box">
  <span class="left__menu__closer">
    <svg x="0px" y="0px" viewBox="0 0 496.096 496.096" fill="#aaa">
        <path d="M259.41,247.998L493.754,13.654c3.123-3.124,3.123-8.188,0-11.312c-3.124-3.123-8.188-3.123-11.312,0L248.098,236.686
          L13.754,2.342C10.576-0.727,5.512-0.639,2.442,2.539c-2.994,3.1-2.994,8.015,0,11.115l234.344,234.344L2.442,482.342
          c-3.178,3.07-3.266,8.134-0.196,11.312s8.134,3.266,11.312,0.196c0.067-0.064,0.132-0.13,0.196-0.196L248.098,259.31
          l234.344,234.344c3.178,3.07,8.242,2.982,11.312-0.196c2.995-3.1,2.995-8.016,0-11.116L259.41,247.998z"/>
    </svg>
  </span>

  <a class="menu-item" href="{{ url('quests') }}">
    <img src="{{ img('menu/quests.png') }}" alt="">
    Quests
  </a>

  <a class="menu-item has__parent" href="#">
    <img src="{{ img('menu/weapons.png') }}" alt="">
    Weapons
  </a>
  <div class="is__parent">
    <a href="{{ url('items/swords') }}">Swords</a>
    <a href="{{ url('items/glovers') }}">Glovers</a>
    <a href="{{ url('items/balls') }}">Balls</a>
    <a href="{{ url('items/bands') }}">Bands</a>
  </div>

  <a class="menu-item has__parent" href="#">
    <img src="{{ img('menu/equipments.png') }}" alt="">
    Equipments
  </a>
  <div class="is__parent">
    <a href="{{ url('items/helmets') }}">Helmets</a>
    <a href="{{ url('items/armors') }}">Armors</a>
    <a href="{{ url('items/legs') }}">Legs</a>
    <a href="{{ url('items/boots') }}">Boots</a>
    <a href="{{ url('items/belts') }}">Belts</a>
    <a href="{{ url('items/robes') }}">Robes</a>
  </div>

  <a class="menu-item has__parent" href="#">
    <img src="{{ img('menu/professions.png') }}" alt="">
    Professions
  </a>
  <div class="is__parent">
    {% for vocation in vocations %}
      <a href="{{ url('vocations/show/'~vocation.name) }}">{{ vocation.name }}</a>
    {% endfor %}
  </div>

  <a class="menu-item" href="{{ url('monsters') }}">
    <img src="{{ img('menu/monsters.png') }}" alt="">
    Monsters
  </a>
  {% if menu.map is not empty %}
    <a class="menu-item" href="{{ url(menu.map.0.link) }}">
      <img src="{{ img('menu/maps.png') }}" alt="">
      Maps
    </a>
  {% endif %}
  <a class="menu-item" href="{{ url('npc') }}">
    <img style="width: 29px;" src="{{ img('menu/npc.png') }}" alt="">
    Npc
  </a>
  {% if achievements %}
    <a class="menu-item" href="{{ url('achievements') }}">
      <img style="width: 29px;" src="{{ img('menu/achievement.png') }}" alt="">
      Achievements
    </a>
  {% endif %}
</aside>
