{% extends layout %}

{% block content %}
<div class="table-responsive">
  <table class="table table-striped table-bordered table-dark sortable">
    <thead>
      <tr>
        <th>Name</th>
        <th>Level</th>
        <th>
          Snake Points
          &nbsp;
          <b style="color: green;">
            {{ snake_count }}
          </b>
        </th>
        <th>
          Status points
          &nbsp;
          <b style="color: green;">
            {{ status_count }}
          </b>
        </th>
        <th class="no-sort">Difficulty</th>
      </tr>
    </thead>
    <tbody>
    {% for quest in quests %}
      <tr>
        <td><a class="link d-flex" href="{{ url(quest.link) }}"><b>{{ quest.title }}</b></a></td>
        <td>{{ quest.level }}</td>
        <td>{{ quest.snake_points }}</td>
        <td>{{ quest.status_points }}</td>
        <td>
          {% for i in range(1, quest.difficulty) %}
            <img style="width: 30px;" src="storage/public/svg/star.svg"> &nbsp;
          {% endfor %}
        </td>
      </tr>
    {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}
