<!doctype html>
<html lang="pl">
<head>
  <meta http-equiv="Content-Language" content="pl">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <meta name="robots" content="index,follow,all">
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="keywords" content="Pg - Wiki">
  <link rel="shortcut icon" href="data:image/x-icon;" type="image/x-icon">
  <link href="https://fonts.googleapis.com/css?family=Nunito:200,600" rel="stylesheet">
  <base href="{{ base() }}">
  <title>Pg - Wiki</title>
  {{ css|raw }}
  <script>
    document.url = '{{ url() }}';
  </script>
</head>
<body>
<div class="right-panel"></div>
<div class="container-fluid">
  <nav class="grid-box-header py-2 align-items-center">
    <button class="menu__btn"> <i class="fa fa-bars"></i> </button>
    <div class="d-flex justify-content-center">
      <a href="{{ url() }}">
        <img src="{{ img('logo.png') }}" alt="">
      </a>
    </div>
    <div class="d-flex">
      <div class="wiki-box big mr-4 d-flex align-items-center">
        <form data-action="search/">
          <div class="form__grid">
          {{ input({
            class: 'wiki-input',
            placeholder: 'Szukaj',
            style: 'margin: 0',
            name: 'search'
          }) }}
          </div>
        </form>
      </div>
      <div class="wiki-box big d-flex align-items-center">
        {% if session.user %}
          <p class="mx-2 mb-0 user-welcome">Welcome, Graff</p>
          <a class="mx-2" href="{{ url() }}"> <i class="fa fa-bell medium__size"></i> </a>
          <a class="mx-2" href="{{ url('logout') }}"> <i class="fa fa-power-off medium__size"></i> </a>
          <a class="mx-2" href="{{ url('admin/dash') }}"> <i class="fa fa-wrench medium__size"></i> </a>
        {% else %}
          <button class="render px-4" data-el="modal" data-url="login">Zaloguj</button>
        {% endif %}
      </div>
    </div>
  </nav>
  <main id="main-page-wrapper" class="grid-box mt-3">
    {% include('layouts/inc/left-aside.twig') %}
    <div class="box main__box">
      <div class="box-header p-0">
        <h3 class="box-header main-color">
          <b>{{ title }}</b>
        </h3>
      </div>
      <div class="box-body">
        {% block content %}
        {% endblock %}
      </div>
    </div>
    {% include('layouts/inc/right-aside.twig') %}
  </main>
  {% include 'components/modal.twig' %}
  <footer>
  </footer>
</div>
{{ js|raw }}
</body>
</html>
