{% extends layout %}

{% block content %}
<div class="table-responsive">
  <table class="table table-striped table-bordered">
    <thead>
      <tr>
        {% for head in headers %}
          <th>{{ head|capitalize }}</th>
        {% endfor %}
      </tr>
    </thead>
    <tbody>
    {% for item in items %}
      <tr>
        {% for key,value in item %}
          {% if loop.index <= headerCount %}
            <td>
              {% if loop.index == 1 %}
                <a href="{{ url('items/show/'~item.name) }}" class="link">
                  <img src="{{ img(item.path~item.hash~'.'~item.ext) }}" alt=""> &nbsp;
                  <b>{{ value|capitalize }}</b>
                </a>
              {% else  %}
                <div>
                  {{ value|capitalize }}
                </div>
              {% endif %}
            </td>
          {% endif %}
        {% endfor %}
      </tr>
    {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}
