{% extends layout %}

{% block content %}
<div class="row p-2">
  <div class="col-md-6">
    <img class="text-center" src="{{ img(item.path~item.hash~'.'~item.ext) }}" alt="">
    <div class="my-2 pb-2" style="border-bottom: 1px solid white;">
      {% if item.defense %}
        <span>  <b>defense:</b> &nbsp; {{ item.defense }}</span>  &nbsp;
      {% endif %}
      {% if item.armor %}
        <span> <b>armor:</b> &nbsp; {{ item.armor }}</span> &nbsp;
      {% endif %}
      {% if item.attack %}
        <span> <b>attack:</b> &nbsp; {{ item.attack }}</span> &nbsp;
      {% endif %}
      {% if item.range %}
        <span> <b>range:</b> &nbsp; {{ item.range }}</span> &nbsp;
      {% endif %}
      {% if item.weight %}
        <span> <b>weight:</b> &nbsp; {{ item.weight }}</span> &nbsp;
      {% endif %}
    </div>
    {% if item.description %}
      <i>{{ item.description }}</i>
    {% endif %}
    {% if sellable %}
      <div class="row mt-3">
        <div class="col-12 d-flex">
          <button data-toggle="sellable" class="w-50 is__tab__button__active">Sell</button>
          <button data-toggle="buyable" class="w-50 button__not__active">Buy</button>
        </div>
        <div class="col-sm-12 mt-2">
          <div data-target="buyable" style="display: none;">
            {% for item in sellable %}
              {% if item.type == 'sell' %}
                <a href="{{ url('npc/show/'~item.npc_id~'/'~item.npc_link_name) }}" class="link p-1 d-flex justify-content-between loot__list">
                  <b>{{ item.name }}</b> <span>{{ item.price }} zeni</span>
                </a>
              {% endif %}
            {% endfor %}
          </div>
          <div data-target="sellable">
            {% for item in sellable %}
              {% if item.type == 'buy' %}
                <a href="{{ url('npc/show/'~item.npc_id~'/'~item.npc_link_name) }}" class="link p-1 d-flex justify-content-between loot__list">
                  <b>{{ item.name }}</b> <span>{{ item.price }} zeni</span>
                </a>
              {% endif %}
            {% endfor %}
          </div>
        </div>
      </div>
      <hr class="white">
    {% endif %}
  </div>
  <div class="col-md-6">
    {% if loot %}
      <button class="w-100 mb-4">Loot from:</button>
      <div class="d-flex flex-column">
        {% for item in loot %}
           <a class="link d-flex justify-content-between p-1 loot__list align-items-center ju" href="{{ url('monsters/show/'~item.name) }}">
             <img style="width: 40px; height: 40px;" src="{{ img(item.path~item.hash~'.'~item.ext) }}" alt="">
             <b>{{ item.name }}</b> <span>{{ item.chance }}%</span>
           </a>
        {% endfor %}
      </div>
      {% else %}
      <p class="text-center">This item cannot be loot</p>
    {% endif %}
  </div>
</div>
{% endblock %}

