{% extends layout %}

{% block content %}
{% include 'components/pagination.twig' %}
<div class="table-responsive">
  <table class="table table-striped table-bordered table-dark sortable">
    <thead>
      <tr>
        <th>Name</th>
        <th>Hp</th>
        <th>Experience</th>
        <th class="no-sort">Loot</th>
      </tr>
    </thead>
    <tbody>
    {% for monster in monsters %}
      <tr>
        <td>
          <a class="link" href="{{ url('monsters/show/'~monster.name) }}">
            <img src="{{ img(monster.path~monster.hash~'.'~monster.ext) }}" alt="">
            <b>{{ monster.name }}</b>
          </a>
        </td>
        <td>{{ monster.health }}</td>
        <td>{{ monster.experience }}</td>
        <td>
          {% for item in monster.loot %}
            <a href="{{ url('items/show/'~item.name) }}">
              <b {{ tooltip(item.description) }} >{{ item.name }} </b>
              <img style=" cursor: pointer;" {{ tooltip(item.description) }} src="{{ img(item.path~item.hash~'.'~item.ext) }}" alt="">
            </a>
            <b> ({{ item.chance }}%)</b>
            <br>
          {% endfor %}
        </td>
      </tr>
    {% endfor %}
    </tbody>
  </table>
</div>
  {% include 'components/pagination.twig' %}
{% endblock %}
