{% extends layout %}

{% block content %}
<div class="row p-2">
  <div class="col-12">
    <div class="my-2 pb-2" style="border-bottom: 1px solid white;">
      <img class="mr-4" src="{{ img(monster.path~monster.hash~'.'~monster.ext) }}" alt="">
      {% if monster.health %}
        <span>  <b>health:</b> &nbsp; {{ monster.health }}</span>  &nbsp;
      {% endif %}
      {% if monster.experience %}
        <span> <b>experience:</b> &nbsp; {{ monster.experience }}</span> &nbsp;
      {% endif %}
      {% if monster.speed %}
        <span> <b>speed:</b> &nbsp; {{ monster.speed }}</span> &nbsp;
      {% endif %}
      {% if monster.race %}
        <span> <b>race:</b> &nbsp; {{ monster.race }}</span> &nbsp;
      {% endif %}
    </div>
    {% if item.description %}
      <p>
        {{ item.description }}
      </p>
    {% endif %}
  </div>
  <div class="col-12">
    <button class="w-100 my-2">Loot:</button>
    {% if loot %}
      <div class="d-flex flex-column">
        {% for item in loot %}
           <a class="link loot__list d-flex p-1 align-items-center justify-content-between" href="{{ url('items/show/'~item.name) }}">
             <b>
               <img src="{{ img('images/'~item.hash~'.'~item.ext) }}" alt="">
               &nbsp;
               {{ item.name }}
             </b>
             <span>
               {{ item.chance }}%
             </span>
           </a>
        {% endfor %}
      </div>
      {% else %}
      <p>This monster no have loot</p>
    {% endif %}
  </div>
</div>
{% endblock %}
