{% extends layout %}

{% block content %}
  <div class="table-responsive">
    <table class="table table-striped table-bordered table-dark sortable">
      <thead>
      <tr>
        <th>Monster</th>
        <th>From lvl</th>
        <th>To lvl</th>
        <th>Lvls</th>
        <th>Money</th>
        <th class="no-sort">Reward</th>
      </tr>
      </thead>
      <tbody>
      {% for task in daily %}
        <tr>
          <td>
            <a class="link" href="{{ url('monsters/show/'~task.monster) }}">
              <img src="{{ img(task.path~task.hash~'.'~task.ext) }}" alt="">
              &nbsp;
              <b>{{ task.monster }}</b>
            </a>
          </td>
          <td>{{ task.from_lvl }}</td>
          <td>{{ task.to_lvl }}</td>
          <td>{{ task.lvls }}</td>
          <td>{{ task.money }}</td>
          <td>
            {% for item in task.rewards %}
              <a href="{{ url('items/show/'~item.item_name) }}">
                <b>{{ item.item_name }} </b>
                <img src="{{ img(item.path~item.hash~'.'~item.ext) }}" alt="">
              </a>
              <b> ({{ item.item_chance }}%) &nbsp; max count: {{ item.item_max_count }}</b>
              <br>
            {% endfor %}
          </td>
        </tr>
      {% endfor %}
      </tbody>
    </table>
  </div>
{% endblock %}
